<%= form_for @book do |f| %>
  <div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author, "著者" %>
    <%= f.text_field :author %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
